<html lang="en">
<%- include('./partials/head.ejs') %>
<body>

  <%- include('./partials/nav.ejs') %>

  <div class="blogs content">
      <h2>All Blogs</h2>

  </div class="not-found content">
  Ooooops, page not found.
  Ask Bożena, she knows where this page is:)
  
</div>
  <%- include('./partials/footer.ejs') %>
  
</body>
</html>