<html lang="en">
<%- include('./partials/head.ejs') %>
<body>

  <%- include('./partials/nav.ejs') %>

  <div class="blogs content">
      <h2>All Blogs</h2>
      <p>"You can never understand everything. But, You should push yourself to understand the system" Ryan Dahl</p>
      <p>"You can never understand everything. But, You should push yourself to understand the system" Ryan Dahl</p>
      <p>"You can never understand everything. But, You should push yourself to understand the system" Ryan Dahl</p>
    </div>

    <%- include('./partials/footer.ejs') %>

</body>
</html>